<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="NguyenDucVuAnh">
    <th:block th:fragment="cssLibs">
    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Glyphicons -->
    <link th:href="@{/vendor/glyphicons/css/bootstrap.icon-large.min.css}" rel="stylesheet">

    <!-- summernote css https://summernote.org -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">

    <!-- Image Picker -->
    <link th:href="@{/vendor/image-picker/css/image-picker.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<th:block th:fragment="navbar">
<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>-->

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!--<a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>
</th:block>

<th:block th:fragment="sidebar(activeTab)">
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item" th:classappend="${activeTab == 'dashboard'} ? active">
        <a class="nav-link" th:href="@{/admin}">
            <i class="fa fa-fw fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeTab == 'document'} ? active">
        <a class="nav-link" th:href="@{/admin/documents}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span>Documents</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeTab == 'album'} ? active">
        <a class="nav-link" th:href="@{/admin/albums}">
            <i class="fa fa-fw fa-book"></i>
            <span>Albums</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeTab == 'file'} ? active">
        <a class="nav-link" th:href="@{/admin/files}">
            <i class="fa fa-fw fa-file"></i>
            <span>Files</span>
        </a>
    </li>
</ul>
</th:block>

<th:block th:fragment="breadcrumb">
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a th:href="@{/admin}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Documents</li>
</ol>
</th:block>

<th:block th:fragment="footer">
<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
        </div>
    </div>
</footer>
</th:block>

<th:block th:fragment="scrollToTop">
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top" style="display: inline">
    <i class="fas fa-angle-up"></i>
</a>
</th:block>

<th:block th:fragment="imageSelector">
<div class="modal fade" id="imageSelector">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Image Selector</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <select multiple="multiple" class="form-control image-picker" id="img-picker" th:field="*{images}">
                    <option th:each="image : ${allImages}" th:data-img-src="${image.cloudSrc}" th:data-img-class="img-thumbnail" th:value="${image.id}" th:text="${image.cloudSrc}"></option>
                </select>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="docSelector">
    <div class="modal fade" id="docSelector">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Doc Selector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <select multiple="multiple" class="form-control image-picker" id="doc-picker" th:field="*{docs}">
                        <option th:each="doc : ${allDocuments}" th:data-img-src="${doc.thumbnailSrc}" th:data-img-class="img-thumbnail" th:data-img-label="${doc.title}" th:data-doc-url="${doc.cloudSrc}" th:value="${doc.id}" th:text="${doc.thumbnailSrc}"></option>
                    </select>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="videoSelector">
    <div class="modal fade" id="videoSelector">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Video Selector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <select multiple class="form-control image-picker" id="video-picker" th:field="*{videos}">
                        <option th:each="video : ${allVideos}" th:data-img-src="${video.thumbnailSrc}" th:data-img-class="img-thumbnail" th:data-img-label="${video.title}" th:data-video-url="${video.cloudSrc}" th:value="${video.id}" th:text="${video.thumbnailSrc}"></option>
                    </select>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="logoutModal">
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="jsLibs">
<!-- Bootstrap core JavaScript-->
<script type="application/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="application/javascript"  th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="application/javascript"  th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script type="application/javascript" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script type="application/javascript" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script type="application/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

<!--summernote js https://summernote.org-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

<!-- Image Picker -->
<script type="application/javascript" th:src="@{/vendor/image-picker/js/image-picker.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="application/javascript" th:src="@{/js/sb-admin.min.js}"></script>

<!-- Call the datatable js -->
<script type="application/javascript" th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>
</body>
</html>