<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="NguyenDucVuAnh">
    <title>CREATE ALBUM</title>
    <th:block th:insert="admin/layout :: cssLibs">
    </th:block>
</head>
<body id="page-top">
<th:block th:insert="admin/layout :: navbar">
</th:block>
<div id="wrapper">
    <th:block th:insert="admin/layout :: sidebar('album')">
    </th:block>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/albums}">Albums</a>
                </li>
                <li class="breadcrumb-item active">Create Album</li>
            </ol>

            <div class="container">
                <div class="row justify-content-center">
                    <h1>CREATE ALBUM FORM</h1>
                </div>
                <div class="row justify-content-center">
                    <form class="col-lg-8" th:action="@{/admin/createAlbum}" method="post" th:object="${album}" autocomplete="off">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input placeholder="Enter Title" class="form-control" id="title" th:field="*{title}" required="required">
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></p>
                        </div>

                        <div class="form-group">
                            <label for="coverSrc">Cover Source</label>
                            <input placeholder="....." class="form-control" id="coverSrc" th:field="*{coverSrc}" required="required">
                            <p th:if="${#fields.hasErrors('coverSrc')}" th:errors="*{coverSrc}" class="error"></p>
                        </div>

                        <div class="form-group" id="img-preview">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" th:field="*{description}"></textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
                        </div>

                        <div class="form-group">
                            <label>Images</label>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageSelector">
                                SELECT IMAGES
                            </button>
                            <th:block th:insert="admin/layout :: imageSelector">
                            </th:block>
                        </div>

                        <!--<div class="form-group">
                            <label for="doc">Documents</label>
                            <select class="form-control" id="doc" th:field="*{documents}">
                                <option th:each="doc : ${docs}" th:value="${doc.key}" th:text="${doc.value}"></option>
                            </select>
                        </div>-->

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-form display-4" id="check-btn">SEND FORM</button>
                            <button type="submit" id="submit" hidden="hidden">SEND FORM</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="admin/layout :: scrollToTop">
</th:block>
<th:block th:insert="admin/layout :: logoutModal">
</th:block>
<th:block th:insert="admin/layout :: jsLibs">
</th:block>
<script type="application/javascript" th:src="@{/js/admin-check-img.js}"></script>
<script type="application/javascript">
    $("#file").imagepicker({
        hide_select : true,
        show_label  : false
    })
</script>
</body>
</html>