<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="NguyenDucVuAnh">
    <title>Files</title>
    <th:block th:insert="admin/layout :: cssLibs">
    </th:block>
</head>
<body id="page-top">
<th:block th:insert="admin/layout :: navbar">
</th:block>
<div id="wrapper">
<th:block th:insert="admin/layout :: sidebar('file')">
</th:block>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table Example
                <a th:href="@{/admin/createFile}" role="button" class="btn btn-primary">Create New File</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                            <th>CLOUD SOURCE</th>
                            <th>TYPE</th>
                            <th>CREATED AT</th>
                            <th>UPDATED AT</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                            <th>CLOUD SOURCE</th>
                            <th>TYPE</th>
                            <th>CREATED AT</th>
                            <th>UPDATED AT</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="file : ${files}">
                            <td th:text="${file.title}"></td>
                            <td th:text="${file.description}"></td>
                            <td th:text="${file.cloudSrc}"></td>
                            <td th:text="${file.type}"></td>
                            <td th:text="${file.createdAt}"></td>
                            <td th:text="${file.updatedAt}"></td>
                            <th:block th:with="title=${#strings.toLowerCase(file.title)},filename=${#strings.multipleReplace(title,{' '},{'-'})}">
                                <td><!--/*@thymesVar id="file" type=""*/-->
                                <a th:href="@{/admin/updateFile/{filename}/{id}(id=${file.id},filename=${filename})}" class="btn btn-success" role="button">Update</a></td>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
</div>
<th:block th:insert="admin/layout :: jsLibs">
</th:block>
</body>
</html>