<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="NguyenDucVuAnh">
    <title>Files</title>
    <th:block th:insert="admin/layout :: cssLibs">
    </th:block>
</head>
<body id="page-top">
<th:block th:insert="admin/layout :: navbar">
</th:block>
<div id="wrapper">
<th:block th:insert="admin/layout :: sidebar('file')">
</th:block>
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/admin}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Files</li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Showing List Of Files
                <a th:href="@{/admin/createFile}" role="button" class="btn btn-primary">Create New File</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>CLOUD SOURCE</th>
                            <th>TYPE</th>
                            <th>CREATED AT</th>
                            <th>UPDATED AT</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>TITLE</th>
                            <th>CLOUD SOURCE</th>
                            <th>TYPE</th>
                            <th>CREATED AT</th>
                            <th>UPDATED AT</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="file : ${files}">
                            <td th:text="${file.title}"></td>
                            <td>
                                <a th:href="${file.cloudSrc}" target="_blank">
                                    <th:block th:if="${file.thumbnailSrc != null}">
                                        <img src="" th:src="${file.thumbnailSrc}" th:alt="${file.title}" class="img-thumbnail">
                                    </th:block>
                                    <th:block th:if="${file.thumbnailSrc == null}">
                                        <span th:text="${file.cloudSrc}"></span>
                                    </th:block>
                                </a>
                            </td>
                            <td th:text="${file.type}"></td>
                            <td th:text="${file.createdAt}"></td>
                            <td th:text="${file.updatedAt}"></td>
                            <td><a th:href="@{/admin/updateFile/{filename}/{id}(id=${file.id},filename=${file.titleUrl})}" class="btn btn-success" role="button">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
</div>
<th:block th:insert="admin/layout :: scrollToTop">
</th:block>
<th:block th:insert="admin/layout :: logoutModal">
</th:block>
<th:block th:insert="admin/layout :: jsLibs">
</th:block>
</body>
</html>
