<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vu Anh Nguyen Duc</title>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/home.css}" type="text/css" rel="stylesheet">
</head>
<body>

    <div th:insert="home/layout :: navbar"></div>

    <div th:insert="home/layout :: layout-document"></div>

    <div th:insert="home/layout :: footer"></div>

    <script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>